@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Work+Sans:wght@700&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.box-blue {
  width: 100px;
  height: 100px;
  background-color: #1556b0;
}
.box-blue:hover {
  background-color: #0d356c;
  transition: all 0.6s ease;
}
.box-blue:active {
  background-color: #071e3e;
}

.box-yellow {
  width: 100px;
  height: 100px;
  background-color: rgb(38, 227, 57);
}
.box-yellow:hover {
  background-color: #16a724;
  transition: all 0.6s ease;
}
.box-yellow:active {
  background-color: #107a1a;
}

.btn {
  color: white;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 3px;
  font-family: "Work Sans", sans-serif;
  font-size: 2em;
  display: inline-block;
  margin: 5px;
}
.btn-sm {
  font-size: 1em;
}
.btn-md {
  font-size: 1.5em;
}
.btn-lg {
  font-size: 2em;
}
.btn-xl {
  font-size: 3.5em;
}
.btn-green {
  background-color: #2ecc71;
}
.btn-green:hover {
  background-color: #208e4e;
  transition: all 0.6s ease;
}
.btn-green:active {
  background-color: #176437;
}
.btn-blue {
  background-color: #3498db;
}
.btn-blue:hover {
  background-color: #1d6fa5;
  transition: all 0.6s ease;
}
.btn-blue:active {
  background-color: #16527a;
}
.btn-yellow {
  background-color: #f1c40f;
}
.btn-yellow:hover {
  background-color: #aa8a0a;
  transition: all 0.6s ease;
}
.btn-yellow:active {
  background-color: #796307;
}
.btn-red {
  background-color: #e74c3c;
}
.btn-red:hover {
  background-color: #bf2718;
  transition: all 0.6s ease;
}
.btn-red:active {
  background-color: #921e12;
}
.btn-grey {
  background-color: #cdcdcd;
}
.btn-grey:hover {
  background-color: #a7a7a7;
  transition: all 0.6s ease;
}
.btn-grey:active {
  background-color: #8d8d8d;
}

html {
  font-family: "Open Sans", sans-serif;
  margin: 15px;
  background-color: white;
}
@media screen and (min-width: 320px) {
  html {
    background-color: red;
  }
}
@media screen and (min-width: 600px) {
  html {
    background-color: blue;
  }
}
@media screen and (min-width: 768px) {
  html {
    background-color: yellow;
  }
}

p {
  margin-block-start: 30px;
  margin-block-end: 30px;
}

h1 {
  color: rgb(177, 4, 4);
  font-family: "Work Sans", sans-serif;
  font-size: 1200%;
  margin-block-end: 15px;
}

h2 {
  color: rgb(102, 24, 24);
  font-size: 400%;
}

h3 {
  color: rgb(102, 24, 24);
  font-size: 240%;
}

/*# sourceMappingURL=main.css.map */
