
@mixin btn-color ($color) {
    background-color: $color;
    
    &:hover {
        background-color: darken($color, 15%);
        transition: all 0.6s ease;
    }
    
    &:active {
        background-color: darken($color, 25%);
    }
}

.box-blue {
    width: 100px;
    height: 100px;
    @include btn-color(#1556b0);
}

.box-yellow {
    width: 100px;
    height: 100px;
    @include btn-color(rgb(38, 227, 57));
}

// .btn-green {
//     @include btn-color(#2ecc71);
// }
// .btn-blue {
//     @include btn-color(#3498db);
// }

// .btn-yellow{
//     @include btn-color(#f1c40f);
// }

// .btn-red {
//     @include btn-color(#e74c3c);
// }

.btn {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 3px;
    font-family: $emphasis-font;
    font-size:2em;
    display: inline-block;
    margin: 5px;

    @each $key, $value in $btn-dimensions {
        &-#{$key} {
            font-size: $value;
        }
    }
    
    
    @each $key, $value in $btn-colors {
        &-#{"" + $key} {
            @include btn-color($value);
        }
        
    }
}



