$base-font: 'Open Sans', sans-serif;
$emphasis-font: 'Work Sans', sans-serif ;

$h1-font-size: 1200%;
$h2-font-size: calc($h1-font-size/3);
$h3-font-size: calc($h1-font-size/5);

$primary-color:rgb(177, 4, 4);;
$secondary-color:rgb(102, 24, 24);

$btn-dimensions: (sm: 1em, md: 1.5em, lg: 2em, xl: 3.5em);
$btn-colors: (green:#2ecc71, blue:#3498db, yellow:#f1c40f, red:#e74c3c, grey:#cdcdcd);




