@import "reset";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Work+Sans:wght@700&display=swap');
@import "variables";
@import"buttons";
@import"media";

html {
    font-family: $base-font;
    margin: 15px;
    background-color: white;
    
    @include respond-to (small) {
        background-color: red;
    }
    
    @include respond-to (medium) {
        background-color: blue;
    }
    
    @include respond-to (large) {
        background-color: yellow;
    }
}



p {
    margin-block-start: 30px;
    margin-block-end: 30px;
}

h1 {
    color: $primary-color;
    font-family: $emphasis-font;
    font-size: $h1-font-size;
    margin-block-end: 15px;
}

h2 {
    color: $secondary-color;
    font-size: $h2-font-size;
    
}

h3 {
    color: $secondary-color;
    font-size: $h3-font-size;
}

